extends ../base.pug
include ../mixins/video

block content
    form(method="GET")
        span Search
        input(name="keyword", placeholder="title", type="text")
        input(type="submit", value="Search now")
    div
        each video in videos
            +showVideoInfo(video)