extends ../base.pug

block content
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File
        input(type="file", accept="video/*", required, id="video", name="video")
        span Title
        input(name="title", placeholder="Video title", required, maxLength=30)
        span Description
        input(name="description", placeholder="Description", required, minLength=10, maxLength=200)
        span Hashtags
        input(name="hashtags", placeholder="#hashtags,#likethis", required)
        input(value="Submit video", type="submit")