@import "./_variable";
@import "./video-player.scss";

.message {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 200px;
    padding: 10px 20px;
    border-radius: 10000px;
    text-align: center;
    animation: goAway 0.5s ease-in-out 3s forwards;
    &.error {
        background-color: tomato;
        color: white;
    }
    &.error {
        background-color: gray;
        color: white;
    }
}

@keyframes goAway {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform:translateY(-50px);
        opacity: 0;
    }
    
}