extends base.pug

block content
    form(method="post")
        span Old Password
        input(name="oldPassword", placeholder="Old Password", type="password")
        span New Password
        input(name="newPassword", placeholder="New Password", type="password")
        span New Password Confirmation
        input(name="newPasswordConfirm", placeholder="New Password Confirmation", type="password")
        input(type="submit", value="Change Password")