extends base.pug

block content
    img(src="/" + user.avatarUrl, width="100px", height="100px")
    form(method="post", enctype="multipart/form-data")
        span Name
        input(name="name", type="text", required, placeholder="Name", value=user.name)
        lavel(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        span Email
        input(name="email", type="email", required, placeholder="Email adress", value=user.email)
        span Username
        input(name="username", type="text", required, placeholder="User name", value=user.username)
        span Location
        input(name="location", type="text", required, placeholder="Location", value=user.location)
        input(type="submit", value="Update Profile",)
        hr
        a(href="change-password") Change Password &rarr;