extends base.pug
include mixins/video.pug

block content
    h2 Welcome! Here is top 5 trending videos!
    
    each video in videos
        +showVideoInfo(video)
    else
        div Oops, someone unplugged the server.